
@{
    ViewBag.Title = "Education";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<h2>Education</h2>
<table>
    <tr>
        <th>Degree</th>
        <th>Year</th>
        <th>Instituion</th>
    </tr>
    <tr>
        <td>BSc</td>
        <td>2024</td>
        <td><p>American International University,Bangladesh</p></td>
    </tr>
    <tr>
        <td>A levels</td>
        <td>2020</td>
        <td><p>Sydney International</p></td>
    </tr>
    <tr>
        <td>O levels</td>
        <td>2018</td>
        <td><p>Chittagong Grammar School</p></td>
    </tr>
</table>

