@{
    ViewBag.Title = "Home Page";
}

<main>

    <div class="row">
        <h2>Portfolio:</h2>
        <p><b>Name:</b> Ahmad Asif</p>
        <p><b>Student ID:</b> 21-44388-1</p>
        <p><b>E-Mail:</b> asif141201@@gmail.com</p>
        <p><b>Git:</b><a href="https://github.com/asif-1412">Asif</a></p>
        <section class="col-md-auto aria-labelledby="gettingStartedTitle">
            <p><a class="btn btn-outline-dark" href="Home/Personal">Personal &raquo;</a></p>
        </section>
        <section class="col-md-auto aria-labelledby="gettingStartedTitle">
            <p><a class="btn btn-outline-dark" href="Home/Education">Education &raquo;</a></p>
        </section>
        <section class="col-md-auto aria-labelledby="gettingStartedTitle">
            <p><a class="btn btn-outline-dark" href="Home/Projects">Projects &raquo;</a></p>
        </section>
        <section class="col-md-auto aria-labelledby="gettingStartedTitle">
            <p><a class="btn btn-outline-dark" href="Home/References">References &raquo;</a></p>
        </section>
    </div>
</main>