
@{
    ViewBag.Title = "Personal";
}

<h1>Personal</h1>

<h3><b>Name:</b>Ahmad Asif</h3>
<h3><b>Fathers Name:</b> Nasir Ahmad</h3>
<h3><b>Mothers Name:</b> Abeda Nasir</h3>
<h3><b>Contact Number:</b> 01987654322</h3>
<h3><b>Siblings:</b> 1</h3>
<h3><b>Religion:</b> Islam</h3>
<h3><b>Marital Status:</b> Married</h3>
