
@{
    ViewBag.Title = "References";
}

<h2>References</h2>
<br />

<h4><p>DR. Amena Jahan</p></h4>
<h4><p>Professor, Computer Science</p></h4>
<h4><p>American International University, Bangladesh</p></h4>
<h4><p>E-Mail:Amena@aiub.edu</p></h4>
<h4><p>Contact:01345678282</p></h4>

